version: '3'

services:
  mymongo:
    image: mongo:3.2
    container_name: mymongo
    restart: unless-stopped
    environment:
      MONGODB_USER: charly
      MONGODB_PASS: charlypass
      MONGO_INITDB_ROOT_USERNAME: charly
      MONGO_INITDB_ROOT_PASSWORD: charlypass
      MONGODB_DATABASE: test
      MONGODB_PORT_NUMBER: 27017
      MONGODB_CONTAINER: mymongo
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    networks:
      - basedata

  sinatra:
    container_name: sinatraApp
    build:
      context: .
      dockerfile: sinatra.Dockerfile
    ports:
         - "80:3456"
    environment:
      MONGODB_USER: charly
      MONGODB_PASS: charlypass
      MONGODB_DATABASE: test
      MONGODB_PORT_NUMBER: 27017
      MONGODB_CONTAINER: mymongo
      RAPI_URL: rapi
      RAPI_PORT: 8000
    networks:
      - basedata
      - apis

  rapi:
    container_name: rapi
    build:
      context: .
      dockerfile: rplumber.Dockerfile
    ports:
         - "8000:8000"
    networks:
      - basedata
      - apis

networks:
  basedata:
    driver: bridge
  apis:
    driver: bridge
