<!DOCTYPE html>
<html>
	<head>
		<!--<link rel=styleSheet href="css/styles.css" type="text/css">-->
    <meta charset="utf-8">
		<title>
				Statistics Football
			</title>
	</head>
  <body>
    <header>
      <h1>Principal</h1>
    </header>

    <h2>Bienvenido</h2>

		<form class="" action="/equipoStatistics" method="post">
					<input type="text" name="equipo" value="equipo">
					<input name="tipoRequest" type="hidden" value="1">
					<input type="submit" name="equipoStatistics" value="equipoStatistics">
		</form>

		<form class="" action="/manyStatistics" method="post">
					<input type="text" name="equipo1" value="equipo1">
					<input type="text" name="equipo2" value="equipo2">
					<input name="tipoRequest" type="hidden" value="2">
					<input type="submit" name="manyStatistics" value="manyStatistics">
		</form>

<%if @data!=nil%>
		<p><%="#{@data}"%></p></<br>
<%end%>

  </body>
</html>
